/*
 * Hook class to extend bootstrap panels
 */

body {
    padding-top: 80px;
}

@media print {
    body {
	padding-top: 0px;
    }
}

.card-gtd {
    /*margin-bottom: 2px;*/
}

.card-gtd .card-body {  /* top right bottom left */
    padding: 2px 5px 2px 5px;
    line-height: 1.0;
}
.card-gtd .list-group {
    padding-bottom: 0px;
}
.card-gtd .list-group-item {
    padding: 5px 5px 5px 5px;
}
.card-gtd .list-group-item .fa-reorder {
    cursor: move;
}
.card-gtd .card-footer {
    padding: 2px 5px 2px 5px;
}

/*
 * Hook class to control modal dialogs
 */
.gtd-modal {
    /* placeholder for now */
}

.gtd-modal .list-group-item {
    padding: 3px 5px;

}

.gtd-footer {
    font-style: italic;
    float: bottom;
}

.gtd-page {
    page-break-after: always;
    page-break-inside: avoid;
}

.gtd-completed {
    font-style: italic;
    text-decoration: line-through;
}

.gtd-task-indent-0 { margin-left:  0px;}
.gtd-task-indent-1 { margin-left: 10px;}
.gtd-task-indent-2 { margin-left: 20px;}
.gtd-task-indent-3 { margin-left: 30px;}
.gtd-task-indent-4 { margin-left: 40px;}

.gtd-task-label {
    display: inline-block;
    width: 275px;
}
.gtd-task-label-0 {}
.gtd-task-label-1 { width: 265px; }
.gtd-task-label-2 { width: 255px; }
.gtd-task-label-3 { width: 245px; }
.gtd-task-label-4 { width: 235px; }

.gtd-task-title {}
.gtd-item-notes {
    font-size: small;
    font-style: italic;
    margin: 4 0 1 0;
}
.gtd-task-due-date {
    font-size: small;
}
.gtd-item-due {
    margin: 4 0 1 0;
    font-weight: bold;
}
.gtd-item-date {}

.gtd-item-active {
    background: #F00;
    font-weight: bold;
    border: 2px solid #0F0;
}

.gtd-add-task {
    font-size: small;
    width: 100%;
    box-sizing: border-box;
}

.gtd-add-task-button {
    margin-top: 4px;
}
