/*
 * Hook class to extend bootstrap panels
 */
.panel-gtd {
    /* placeholder class for now */
    margin-bottom: 10px;
}

.panel-gtd .panel-body {
    padding: 8px;
    line-height: 1.0;
}
.panel-gtd .list-group {
    margin-bottom: 5px;
}
.panel-gtd .list-group-item {
    padding: 3px 5px;
}
.panel-gtd .panel-footer {
    padding: 3px 5px;    
}
.panel-gtd .close {
    margin-top: -20px;
}

/*
 * Hook class to control modal dialogs
 */
.gtd-modal {
    /* placeholder for now */
}

.gtd-modal .list-group-item {
    padding: 3px 5px;

}

.gtd-footer {
    font-style: italic;
    float: bottom;
}

.gtd-page {
    page-break-after: always;
    page-break-inside: avoid;
}

.gtd-completed {
    font-style: italic;
    text-decoration: line-through;
}

.gtd-task-label {
    display: inline-block;
    width: 225px;
}
