/*
 * CSS for printing
 */


/*
 * Hook class to extend bootstrap panels
 */
.panel-gtd {
    /* placeholder class for now */
}

.panel-gtd .panel-body {
    padding: 8px;
    line-height: 1.0;
}
.panel-gtd .list-group-item {
    padding: 3px 5px;
}
.panel-gtd .panel-footer {
    padding: 3px 5px;    
}

/*
 * Hook class to control modal dialogs
 */
.gtd-modal {
    /* placeholder for now */
}

.gtd-modal .list-group-item {
    padding: 3px 5px;
}

.gtd-completed {
    font-style: italic;
    text-decoration: line-through;
}

.gtd-checkbox {
}

.gtd-checkbox-label {
    margin: 5px;
    white-space: pre-wrap;
}

.gtd-footer {
    font-style: italic;
    float: bottom;
}

